Repository cubismod/cubemoji: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, deploy_stage, deploy_prod

build:
  stage: build
  tags:
  - cubemoji
  image:
    name: quay.io/buildah/stable
    entrypoint:
    - ''
  interruptible: true
  script:
  - mkdir -p $HOME/.docker
  - echo $QUAY_CONF > $DOCKER_AUTH
  - cd ${CI_PROJECT_DIR}
  ...

lint:
  stage: housekeeping
  tags:
  - cubemoji
  image:
    name: ${CONTAINER_DEST}
  interruptible: true
  script:
  - cd /usr/src/cubemoji
  - yarn install
  - npm run audit
  - npm run lint

deploy_stage:
  stage: deploy_stage
  tags:
  - cubemoji
  image:
    name: curlimages/curl
  script:
  - cd ${CI_PROJECT_DIR}/scripts/cubemoji-dev/
  - ./stage_deploy.sh

deploy_prod:
  stage: deploy_prod
  tags:
  - cubemoji
  image:
    name: curlimages/curl
  script:
  - cd ${CI_PROJECT_DIR}
  - ${CI_PROJECT_DIR}/scripts/deploy.sh

pkg version bump
  package.json
  yarn.lock
Due: build, lint, deploy_stage

remove pull
  .gitlab-ci.yml
Due: build, lint, deploy_stage

pkg update
  package.json
Due: build, lint, deploy_stage

deploy bump v.3.4.8
  fly.toml
Due: deploy_prod

update base image
  .gitlab-ci.yml
  fly.toml
Due: build, lint, deploy_stage, deploy_prod

remove install git line
  .gitlab-ci.yml
Due: build, lint, deploy_stage

more fly.io bump
  fly.toml
Due: deploy_prod

Bump aws-sdk from 2.1189.0 to 2.1192.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump discord.js from 14.1.2 to 14.2.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump npm from 8.16.0 to 8.17.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump simple-git from 3.11.0 to 3.12.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @types/node from 18.6.4 to 18.7.1
  package.json
  yarn.lock
Due: build, lint, deploy_stage

rm
  src/discord/events/Client.ts
Due: none

Bump aws-sdk from 2.1189.0 to 2.1197.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump dayjs from 1.11.4 to 1.11.5
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump discordx from 11.0.8 to 11.1.5
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump npm from 8.16.0 to 8.18.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

dep updates
  package.json
  src/discord/ContextMenu.ts
  src/discord/commands/About.ts
  src/discord/commands/AddFace.ts
  src/discord/commands/Big.ts
  src/discord/commands/Convert.ts
  src/discord/commands/Edit.ts
  src/discord/commands/Emote.ts
  src/discord/commands/Help.ts
  src/discord/commands/Info.ts
  src/discord/commands/Jumbo.ts
  src/discord/commands/List.ts
  src/discord/commands/Moderation.ts
  src/discord/commands/OwnerOnly.ts
  src/discord/commands/Random.ts
  src/discord/commands/Rescale.ts
  src/discord/commands/Roles.ts
  src/discord/commands/Search.ts
  src/discord/commands/Uptime.ts
  src/discord/events/Button.ts
  src/discord/events/Client.ts
  src/discord/events/Emoji.ts
  src/discord/events/React.ts
Due: build, lint, deploy_stage

prod bump to 3.4.9
  fly.toml
Due: deploy_prod

Bump discordx from 11.1.5 to 11.1.8
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @types/node from 18.6.4 to 18.7.6
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @typescript-eslint/eslint-plugin from 5.32.0 to 5.33.1
  package.json
  yarn.lock
Due: build, lint, deploy_stage

prod push
  fly.toml
Due: deploy_prod

DM Permissions Update
  .gitlab-ci.yml
  package.json
  src/discord/commands/About.ts
  src/discord/commands/AddFace.ts
  src/discord/commands/Big.ts
  src/discord/commands/Convert.ts
  src/discord/commands/Edit.ts
  src/discord/commands/Emote.ts
  src/discord/commands/Help.ts
  src/discord/commands/Info.ts
  src/discord/commands/Jumbo.ts
  src/discord/commands/List.ts
  src/discord/commands/Moderation.ts
  src/discord/commands/OwnerOnly.ts
  src/discord/commands/Random.ts
  src/discord/commands/Rescale.ts
  src/discord/commands/Roles.ts
  src/discord/commands/Search.ts
  src/discord/commands/Uptime.ts
  yarn.lock
Due: build, lint, deploy_stage

update prod version
  fly.toml
Due: deploy_prod

Add username for role alerts & dependency updates
  package.json
  src/lib/http/RoleManager.ts
  yarn.lock
Due: build, lint, deploy_stage

Fly update to 3.4.11
  fly.toml
Due: deploy_prod

Buildah Caching
  .gitlab-ci.yml
Due: build, lint, deploy_stage

Bump @opentelemetry/context-async-hooks from 1.5.0 to 1.6.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @opentelemetry/core from 1.5.0 to 1.6.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @opentelemetry/exporter-zipkin from 1.5.0 to 1.6.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @opentelemetry/instrumentation from 0.31.0 to 0.32.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @opentelemetry/resources from 1.5.0 to 1.6.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

proper quoting for shell scripts
  .gitlab-ci.yml
Due: build, lint, deploy_stage

more little CI updates
  .gitlab-ci.yml
Due: build, lint, deploy_stage

lint fix
  package.json
  yarn.lock
Due: build, lint, deploy_stage

prod update to 3.4.12
  fly.toml
Due: deploy_prod

Path conditions:
  build: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  lint: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  deploy_stage: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  deploy_prod: any of: fly.toml
