Repository cubismod/cubemoji: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, deploy_stage, deploy_prod

build:
  stage: build
  tags:
  - cubemoji
  image:
    name: quay.io/buildah/stable
    entrypoint:
    - ''
  interruptible: true
  script:
  - mkdir -p $HOME/.docker
  - echo $QUAY_CONF > $DOCKER_AUTH
  - cd ${CI_PROJECT_DIR}
  ...

lint:
  stage: housekeeping
  tags:
  - cubemoji
  image:
    name: ${CONTAINER_DEST}
  interruptible: true
  script:
  - cd /usr/src/cubemoji
  - yarn install
  - npm run audit
  - npm run lint

deploy_stage:
  stage: deploy_stage
  tags:
  - cubemoji
  image:
    name: curlimages/curl
  script:
  - cd ${CI_PROJECT_DIR}/scripts/cubemoji-dev/
  - ./stage_deploy.sh

deploy_prod:
  stage: deploy_prod
  tags:
  - cubemoji
  image:
    name: curlimages/curl
  script:
  - cd ${CI_PROJECT_DIR}
  - ${CI_PROJECT_DIR}/scripts/deploy.sh

latest
  .gitlab-ci.yml
Due: build, lint, deploy_stage

can't use $HOME in var
  .gitlab-ci.yml
Due: build, lint, deploy_stage

missing \
  .gitlab-ci.yml
Due: build, lint, deploy_stage

no slashes
  .gitlab-ci.yml
Due: build, lint, deploy_stage

cache repo
  .gitlab-ci.yml
Due: build, lint, deploy_stage

space remove
  .gitlab-ci.yml
Due: build, lint, deploy_stage

specific image tag
  .gitlab-ci.yml
Due: build, lint, deploy_stage

older version
  .gitlab-ci.yml
Due: build, lint, deploy_stage

try upstream img
  .gitlab-ci.yml
Due: build, lint, deploy_stage

ano
  .gitlab-ci.yml
Due: build, lint, deploy_stage

remove caching for now
  .gitlab-ci.yml
Due: build, lint, deploy_stage

tag fix
  .gitlab-ci.yml
Due: build, lint, deploy_stage

fix pull
  .gitlab-ci.yml
Due: build, lint, deploy_stage

no pull
  .gitlab-ci.yml
Due: build, lint, deploy_stage

command switchup
  .gitlab-ci.yml
Due: build, lint, deploy_stage

change layers
  .gitlab-ci.yml
Due: build, lint, deploy_stage

pid
  .gitlab-ci.yml
Due: build, lint, deploy_stage

use base image
  .gitlab-ci.yml
  .vscode/settings.json
  Dockerfile
Due: build, lint, deploy_stage

update deploy
  fly.toml
Due: deploy_prod

update fly.toml
  fly.toml
Due: deploy_prod

yarn update
  .gitlab-ci.yml
  yarn.lock
Due: build, lint, deploy_stage

flytoml update
  fly.toml
Due: deploy_prod

manifesting
  .gitlab-ci.yml
Due: build, lint, deploy_stage

sha update
  fly.toml
Due: deploy_prod

use podman instead
  .gitlab-ci.yml
Due: build, lint, deploy_stage

authfile
  .gitlab-ci.yml
Due: build, lint, deploy_stage

build docker formatted image
  .gitlab-ci.yml
Due: build, lint, deploy_stage

toml upd
  fly.toml
Due: deploy_prod

defaultmemberpermissions
  fly.toml
  src/discord/ContextMenu.ts
  src/discord/commands/About.ts
  src/discord/commands/AddFace.ts
  src/discord/commands/Big.ts
  src/discord/commands/Convert.ts
  src/discord/commands/Edit.ts
  src/discord/commands/Emote.ts
  src/discord/commands/Help.ts
  src/discord/commands/Info.ts
  src/discord/commands/Jumbo.ts
  src/discord/commands/List.ts
  src/discord/commands/Moderation.ts
  src/discord/commands/OwnerOnly.ts
  src/discord/commands/Random.ts
  src/discord/commands/Rescale.ts
  src/discord/commands/Roles.ts
  src/discord/commands/Search.ts
  src/discord/commands/Uptime.ts
Due: deploy_prod

new command
  .gitignore
  .vscode/settings.json
  src/discord/commands/OwnerOnly.ts
Due: none

better json formatting
  fly.toml
  src/discord/commands/OwnerOnly.ts
Due: deploy_prod

fly update
  .gitignore
  fly.toml
  src/hack/GetPermissions.ts
  src/hack/Log.ts
Due: deploy_prod

trying new main with clearing app permissions
  .gitignore
  fly.toml
Due: deploy_prod

Global commands in prd
  src/Main.ts
Due: none

update path matching
  .gitlab-ci.yml
Due: build, lint, deploy_stage

update prd deploy
  fly.toml
Due: deploy_prod

ci fixes
  .gitlab-ci.yml
  fly.toml
Due: build, lint, deploy_stage, deploy_prod

pull and fix prod deploy
  .gitlab-ci.yml
Due: build, lint, deploy_stage

Path conditions:
  build: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  lint: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  deploy_stage: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  deploy_prod: any of: fly.toml
