Repository cubismod/cubemoji: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, deploy_stage, deploy_prod

build:
  stage: build
  tags:
  - cubemoji
  image:
    name: quay.io/buildah/stable
    entrypoint:
    - ''
  interruptible: true
  script:
  - mkdir -p $HOME/.docker
  - echo $QUAY_CONF > $DOCKER_AUTH
  - cd ${CI_PROJECT_DIR}
  ...

lint:
  stage: housekeeping
  tags:
  - cubemoji
  image:
    name: ${CONTAINER_DEST}
  interruptible: true
  script:
  - cd /usr/src/cubemoji
  - yarn install
  - npm run audit
  - npm run lint

deploy_stage:
  stage: deploy_stage
  tags:
  - cubemoji
  image:
    name: curlimages/curl
  script:
  - cd ${CI_PROJECT_DIR}/scripts/cubemoji-dev/
  - ./stage_deploy.sh

deploy_prod:
  stage: deploy_prod
  tags:
  - cubemoji
  image:
    name: curlimages/curl
  script:
  - cd ${CI_PROJECT_DIR}
  - ${CI_PROJECT_DIR}/scripts/deploy.sh

github access token in job
  .gitlab-ci.yml
  .gitlab/dependabot.yml
Due: build, lint, deploy_stage

Bump aws-sdk from 2.1203.0 to 2.1204.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump eslint from 8.22.0 to 8.23.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump discordx from 11.1.9 to 11.1.11
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @discordx/koa from 1.1.1 to 1.1.2
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump aws-sdk from 2.1204.0 to 2.1206.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump discordx from 11.1.11 to 11.1.12
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @types/node from 18.7.13 to 18.7.14
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Prod bump
  fly.toml
Due: deploy_prod

Bump aws-sdk from 2.1206.0 to 2.1208.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump npm from 8.18.0 to 8.19.1
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @typescript-eslint/eslint-plugin from 5.35.1 to 5.36.1
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @typescript-eslint/parser from 5.35.1 to 5.36.1
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump typescript from 4.7.4 to 4.8.2
  package.json
  yarn.lock
Due: build, lint, deploy_stage

command switcahero
  package.json
  src/discord/commands/Info.ts
  src/discord/commands/SourceCommand.ts
  src/discord/commands/base/SourceCommand.ts
  src/discord/events/Client.ts
  src/lib/image/DiscordLogic.ts
  yarn.lock
Due: build, lint, deploy_stage

gitignore update
  .gitignore
Due: none

Base class work, plus fix some missing awaits
  src/discord/commands/Big.ts
  src/discord/commands/Info.ts
  src/discord/commands/Jumbo.ts
  src/discord/commands/base/SourceCommand.ts
  src/lib/cmd/MessageManager.ts
  src/lib/image/DiscordLogic.ts
  src/res/strings.json
Due: none

update to Big
  src/discord/commands/Big.ts
  src/discord/commands/base/SourceCommand.ts
Due: none

Attachments for certain commands, change to extending class
  src/discord/commands/AddFace.ts
  src/discord/commands/Big.ts
  src/discord/commands/Edit.ts
  src/discord/commands/Info.ts
  src/discord/commands/Jumbo.ts
  src/discord/commands/List.ts
  src/discord/commands/Moderation.ts
  src/discord/commands/Rescale.ts
  src/discord/commands/SourceCommand.ts
  src/discord/commands/base/SourceCommand.ts
  src/lib/emote/EmoteCache.ts
  src/lib/image/DiscordLogic.ts
Due: none

nitpick fixes, removing deprecated stuff
  src/lib/cd/GitClient.ts
  src/lib/cmd/Autocomplete.ts
  src/lib/cmd/ModHelper.ts
  src/lib/db/DatabaseMgmt.ts
  src/lib/db/Storage.ts
  src/lib/emote/EmoteCache.ts
  src/lib/http/PugGenerator.ts
  src/lib/http/RoleManager.ts
  src/lib/image/ColorExtract.ts
  src/lib/image/DiscordLogic.ts
  src/lib/image/FileQueue.ts
  src/lib/image/ImageLogic.ts
  src/lib/observability/Tracing.ts
  src/lib/perf/InspectorWrapper.ts
Due: none

GitLab token
  src/lib/http/koa/HTTPServe.ts
  yarn.lock
Due: build, lint, deploy_stage

example.env updated
  example.env
Due: none

Bump @opentelemetry/api from 1.1.0 to 1.2.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump aws-sdk from 2.1208.0 to 2.1209.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump got from 12.3.1 to 12.4.1
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump keyv from 4.4.1 to 4.5.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump pify from 6.0.0 to 6.1.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

"helproles" added for a demonstration on how to setup roles
  src/discord/commands/HelpRoles.ts
Due: none

lint fix
  src/lib/cmd/Autocomplete.ts
Due: none

version bump & web processing update
  package.json
  src/discord/commands/HelpRoles.ts
  src/lib/http/koa/HTTPServe.ts
  src/lib/image/DiscordLogic.ts
  yarn.lock
Due: build, lint, deploy_stage

docs update
  assets/template/Home.pug
  src/discord/events/Client.ts
Due: none

prod deploy of 3.5.0
  fly.toml
Due: deploy_prod

update token header name
  src/lib/http/koa/HTTPServe.ts
Due: none

prod deploy fix
  fly.toml
Due: deploy_prod

Bump aws-sdk from 2.1209.0 to 2.1210.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump simple-git from 3.13.0 to 3.14.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @types/node from 18.7.14 to 18.7.15
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump @typescript-eslint/eslint-plugin from 5.35.1 to 5.36.2
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump aws-sdk from 2.1209.0 to 2.1212.0
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Bump typescript from 4.8.2 to 4.8.3
  package.json
  yarn.lock
Due: build, lint, deploy_stage

Path conditions:
  build: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  lint: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  deploy_stage: any of: Dockerfile, scripts/, assets/, yarn.lock, package.json, tsconfig.json, .eslintrc.json, src/, PRIVACY.md, .gitlab-ci.yml
  deploy_prod: any of: fly.toml
